.work {
    padding-top: 50px;
    padding-bottom: 120px;
    &_title {
        position: relative;
        color: black;
        text-align: center;
        @include before_circle;
        &:before {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &_subtitle {
        text-align: center;
        color: black;
    }
    &__devider {
        width: 60px;
        height: 3px;
        background-color: $main-color;
        margin: 0 auto;
        margin-top: 25px;
    }
    &__wrapper {
        padding: 0 10px;
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(4, 270px);
        column-gap: 13px;
        grid-template-rows: minmax(270px, auto);
        grid-auto-rows: minmax(270px, auto);
        row-gap: 13px;
    }
    &__item {
/*         width: 270px;
        min-height: 270px; */
        border: 1px solid #000;
        background: rgba(196, 196, 196, 0.00);
        padding: 30px 30px 25px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &-icon {
            min-height: 65px;
            display: flex;
            align-items: center;
        }
        &-title {
            margin-top: 20px;
        }
        &-descr {
            margin-top: 15px;
            width: 211px;
            min-height: 95px;
            color: #000;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }
    .rate {
        margin-top: 120px;
        display: grid;
        grid-template-columns: repeat(3, 350px);
        column-gap: 45px;
        grid-template-rows: minmax(50px, auto);
        grid-auto-rows: minmax(50px, auto);
        row-gap: 38px;
        &__head {
            display: flex;
            justify-content: space-between;
        }
        &__name {
            position: relative;
            padding-left: 14px;
            color: #000;
            font-size: 14px;
            font-weight: bold;
            line-height: normal;
            @include before_circle;
            &:before {
                content: '';
                position: absolute;
                top: -10px;
                left: 0;
            }
        }
        &__number {
            font-size: 14px;
            font-weight: 500;
        }
        &__scale {
            margin-top: 27px;
            width: 350px;
            height: 14px;
            border-radius: 4px;
            display: flex;
            flex-direction: row-reverse;
            &_grey {
                background-color: #E8E4DE;
                z-index: 10;
            }
            &_orange {
                background-color: $main-color;
                z-index: 20;
            }
        }
    }

}